@import "principal.css";

body{
    background-image: url("../assets/image\ 81.png");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-y: hidden;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 50%;
}


.nome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.nome>img{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.nome>div{
    margin-left: 10px;
}

.nome>div>a{
    color: black;
 
}

.nome>div>a:last-child{
    color: var(--cor-de-letra);
}

.nome>div>a>h1:last-child{
    margin-top: -10px;
}

.cadastro{
    display: flex;
    flex-direction: column;
    width: 380px;
    background-color: var(--cor-de-fundo);
    margin: auto;
    padding: 50px;
    border: 2px solid var(--verde-botoes);
    border-radius: 40px;
}

.cadastro>h2{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 400;
}

.cadastro>input{
    margin-bottom: 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    border: 1px solid var(--verde-botoes);
    outline-color: green;
}



.cadastro>input[type="text"], .cadastro>input[type="email"], .cadastro>input[type=password], .cadastro>input[type=date] {
    padding: 0px 15px;
    color: var(--verde-botoes);
}

.cadastro>input::placeholder{
    color: var(--verde-botoes);  
}


label{
    color: var(--verde-botoes)
}


.btnAcesso {
    position: relative;
    color: white;
    width: 50%;
    align-items: center;
    background-color: var(--verde-botoes);
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
}


.possui{
    margin: 10px auto;
    width: 380px;
    height: 100px;
    background-color: var(--cor-de-fundo);
    border-radius: 30px;
    border: 2px solid var(--verde-botoes);
    padding: 30px;
    text-align: center;
}

.possui>p>a{
    text-decoration: underline;
}
