@import "principal.css";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; 
}

.cabecalho >div> a{
  color: black;
}

.titulo{
  text-align: center;
  color: var(--verde-botoes);
  margin-bottom: 20px;
}

.forms{
  display: flex;
  flex-direction: column;
  max-width: 380px;
  background-color: var(--cor-de-fundo);
  margin: auto;
  padding: 50px;
  border: 2px solid var(--verde-botoes);
  border-radius: 40px;
}

.forms>h2{
  text-align: center;
  font-weight: 400;
}

.forms>input{
  margin-bottom: 10px;
  height: 40px;
  border-radius: 10px;
  border: none;
  border: 1px solid var(--verde-botoes);
  outline-color: green;
  margin-bottom: 30px;
}

.btn{
  font-size: 15px;

}

.forms>[type="tel"]{
  padding: 10px;
}

.forms>input::placeholder{
  color: black;
}

label{
  color: black;
  font-weight: 500;
}

.divRodape > div > a{
  color: black;
}