@import "principal.css";

.nome>a{
  color: black;
}

.primary{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.textcenter{
  text-align: center;
  margin: 40px;
}
.textcenter>h2{
  color: var(--verde-botoes);
}

.descricao {
  text-align: justify;
  margin-top: 10px;
}

.imgConscientiza {
  width: 70%;
}

/*Segunda Section*/
.secundary {
  align-items: flex-start;
  padding: 0 30px;
  
}
.secundary>div>h1{
  color: var(--verde-botoes);
  margin-bottom: 30px;
}
.secundary>div>h1{
  text-align: center;
}
.secundary>div>p{
  margin-bottom: 30px;
}

.divsecundary {
  text-align: justify;
}

.divsecundary>h3 {
  color: var(--verde-botoes);
  
}

.division {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.topicos {
  align-items: center;
  margin-bottom: 30px;
  font-weight: bold;
}
.informacoes {
  margin-bottom: 20px;
}

.conclusao{
  text-align: justify;
  align-items: center;

}
.divRodape>div>a{
  color:black;
}


@media (min-width: 1024px) {
  header {
    position: relative;
  }

  .division{
    flex-direction: row;
    width: 100%;
  }

  .imgConscientiza {
    max-width: 500px; 
    border-radius: 5px;
    margin-left: 50px;
    display: block;
  }

  .secundary {
    z-index: -1;
    padding: 0 100px;
  }
  .divsecundary{
    width: 50%;
  }
  .secundary>div>p{
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
  }
  
 
}
