/* Reset e configurações gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* Estilos do cabeçalho */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #dfdfdf;
  color: white;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 40px;
  margin-right: 10px;
}

.brand {
  display: flex;
  flex-direction: column;
}

.brand .eco,
.brand .guard {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.buttons {
  display: flex;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.btn-cadastrar {
  background-color: #47a447;
}

.btn-entrar {
  background-color: #337ab7;
}

/* Estilos do conteúdo principal */
.container {
  background-color: white;
  padding: 20px;
}

.main-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.img-container {
  text-align: center;
  margin: 20px 0;
}

.img-container img {
  width: 50%;
  max-width: 300px;
}

.dummy-text {
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
}

/* Estilos do rodapé */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.objeto {
  display: flex;
  align-items: center;
}

.objeto img {
  width: 40px;
  margin-right: 10px;
}

.footer-circle {
  display: flex;
  gap: 5px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #47a447;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}
