@import "principal.css";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; 
}

.cabecalho >div> a{
  color: black;
}
.divRodape > div > a{
  color: black;
}

.titulo-feedback{
  color: var(--verde-botoes);
  margin-top: 20px; 
  margin-bottom: 10px;
}

.denunciaInfo>div>h1{
  font-size: 20px;
  margin-bottom: 10px;
  margin:10px;
}
.denunciaInfo{
  max-width: 600px; 
  word-wrap: break-word; 
  margin-bottom: 20px;
  
}
.denunciaInfo>p{
  margin-bottom: 10px;
}
.color{
  color: var(--verde-botoes);
  font-weight: 800;
}

.subtitulo{
  display: flex;
  margin: auto;
  justify-content: space-between;
  flex-direction: row;
}
#loadingDiv,
#errordiv{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border: 2px solid #4CAF50; /* Cor verde para sucesso */
  border-radius: 10px;
  background-color: #f8f8f8;
  z-index: 999; /* Valor alto para sobrepor outros elementos */
}

#loadingDiv p,
#errordiv p
{
margin: 10px 0;
}

#errordiv{
border: 2px solid #4CAF50; 
}
