@import "principal.css";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; 
}

.cabecalho >div> a{
  color: black;
}
.divRodape > div > a{
  color: black;
}

.denucniaInfo>h1{
  font-size:500;
}
#loadingDiv,
#errordiv{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border: 2px solid #4CAF50; /* Cor verde para sucesso */
  border-radius: 10px;
  background-color: #f8f8f8;
  z-index: 999; /* Valor alto para sobrepor outros elementos */
}

#loadingDiv p,
#errordiv p
{
margin: 10px 0;
}

#errordiv{
border: 2px solid #4CAF50; 
}
