body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/imagens/DALL·E\ 2023-11-02\ 13.04.49\ -\ Photo\ of\ a\ serene\ landscape\ showcasing\ the\ beauty\ of\ the\ world.\ Lush\ green\ meadows\ stretch\ out\,\ dotted\ with\ tall\,\ vibrant\ green\ trees.\ The\ sun\ casts\ a.png")
    no-repeat center center fixed;
  background-size: cover;
  font-family: "Arial", sans-serif;
  color: #333;
}

.main-container {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #b8e994;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 500px;
  width: 100%;
  margin: 20px;
  padding: 20px;
}

.cabecalho {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.titulo,
.subtitulo {
  margin: 0;
  padding: 5px;
  color: #27ae60;
}

.conteudo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #b8e994;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

textarea {
  height: 150px;
  resize: vertical;
}

button {
  background-color: #27ae60;
  color: white;
  padding: 15px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #218c4f;
}

.rodape {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}
