@import "principal.css";

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: var(--cor-de-fundo);
  padding: 30px;
  border: 2px solid var(--verde-botoes);
  border-radius: 20px;
  margin: 10px auto 40px auto;
  font-weight: 600;
}
.cabecalho {
  height: 100px;
}
.cabecalho > div > a {
  color: #000;
}
.Denunciash1 {
  text-align: center;
  margin: 30px 0px;
  color: var(--verde-botoes);
}

label {
  margin-bottom: 10px;
}

textarea,
input,
select {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border: 2px solid var(--verde-botoes);
  border-radius: 10px;
  outline-color: green;
  color: #4e4c4c;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--cor-de-fundo);
}

.btn{
    position: relative;
    width: 70%;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
}

textarea {
  height: 80px;
}

form > div {  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
form > div > div {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 50%; 
}
#cidade{
  margin-bottom: 20px;
  border: none;
  border: 2px solid var(--verde-botoes);
  border-radius: 10px;
  outline-color: green;
  color: #4e4c4c;
  width: 98%;
}
#bairro{
  width: 100%;
}

.divRodape>div>a{
  color: black;
}

/* Adicione estas regras no final do seu arquivo CSS */
#loadingDiv,
#successDiv,
#errordiv{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border: 2px solid #4CAF50; /* Cor verde para sucesso */
  border-radius: 10px;
  background-color: #f8f8f8;
  z-index: 999; /* Valor alto para sobrepor outros elementos */
}

#loadingDiv p,
#successDiv p,
#errordiv p
{
margin: 10px 0;
}

#successDiv {
border: 2px solid #4CAF50; 
}
#errordiv{
border: 2px solid #4CAF50; 
}
#protocoloMensagem {
font-weight: bold;
color: #4CAF50; /* Cor verde para sucesso */
}


@media (min-width: 1024px) {
  form {
    max-width: 750px;
    padding: 30px;
    margin: 10px auto 40px auto;
  }
  
  .btn{
    width: 50%;
  }
}
