@import 'principal.css';

header .nome h1:first-child{
    color: var(--verde-botoes);
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  
  main {
    padding: 50px;

    flex: 1; 
  }
.cabecalho {
  height: 100px;
}
.contener-conheca-leis{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
    margin-bottom: 50px;
}

.contener-conheca-leis h2{
    font-size: 18px;
}

.contener-conheca-leis h2 span{
    color: var(--verde-botoes);
}

.contener-conheca-leis h1{
    font-size: 35px;
    text-align: center;
}

.contener-conheca-leis p{
    padding: 15px;
    text-align: justify;
}
.quadro-de-leis{
    background-color: var(--cor-de-fundo);
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--verde-botoes);
    margin-bottom: 50px;
}

.quadro-de-leis .leis{
    text-align: center;
    color: var(--verde-botoes);
    margin-bottom: 20px;
    font-size: 25px;
}

.quadro-de-leis .divisao{
    background-color: var(--verde-botoes);
    height: 2px;
    margin-bottom: 20px;
}

.leis-ambientais{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    align-items: center;
}

.leis-ambientais li a{
    display: flex;
    color: var(--verde-botoes);
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}

.leis-ambientais li a:hover{
    color: #000;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    font-size: 17px;
}

.quem-recorrer{
    width: 100%;
}

.divprincipal{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0;
}

.container{
    background-color: transparent;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid var(--verde-botoes);
    border-radius: 5px;
}

.container> h4{
    text-align: center;
    margin: 20px 20px 0 20px;
    font-size: 20px;
    color: var(--verde-botoes);
}
.container p {
    text-align: justify;
    padding: 20px;
}
.container p span{
    font-weight: bold;
}

@media (min-width: 1024px) {
  
    .container{
        margin-left: 10px;
        margin-right: 10px;
        min-width: 250px;
        max-width: 600px;
        min-height: 400px;
    }
    .divprincipal {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
  
  
  }
  
  
  @media (min-width: 768px) {
   
   
    .container{
      margin-left: 5px;
      margin-right: 5px;
      min-width: 250px;
      min-height:600px;
      flex-direction: column;
      display: flex;
    }
    .container > h4{
        text-align: center;
        font-size: 20px;
        color: var(--verde-botoes);
    } 
    .container p {
        text-align: justify;
        padding: 5px;
    }
  
    .divprimeira {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    
    }
    .divsegunda{
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
  
  }
  