@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
  --verde-claro: ;
  --verde-botoes: #249c6f;
  --branco: #fff;
  --cor-de-fundo: #f6fbf9;
  --cor-de-fundo-destaque: #dfdfdf;
  --cor-de-letra: #037908;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

main{
  font-family: 'Poppins', serif;
}


.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px; 
  background-color: var(--cor-de-fundo-destaque);
  width: 100%;
  height: 150px;
}

.setaesquerda img {
  order:1;
  margin-left: 20px;
  align-items: center;
  top: 42px;
  position: absolute;
  width: 25px;

}

.logo {
  order:2;
  margin-left: 20px; 
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px; 
  height: auto;
  margin-right: 10px;
}

.logo>div>a, .cabecalho div span{
  color: black;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.nome>a{
  font-family: 'Abril Fatface', serif;
}

.cabecalho div .planet {
  color: var(--verde-botoes);
  margin-top: -10px;
}

.btn,
.btn1 {
  text-decoration: none;
  background-color: var(--verde-botoes);
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--branco);
  font-weight: 600;
  border: 2px solid var(--verde-botoes);
}

.btn:hover {
  border: 2px solid var(--verde-botoes);
  color: var(--verde-botoes);
  background-color: var(--branco);
}

.voltar {
  display: flex;
  color: var(--verde-botoes);
  font-size: 20px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  align-items: center;
  margin-right: 30px;
}

.voltar:hover {
  border-bottom: 2px solid var(--cor-de-letra);
}

.voltar > img {
  width: 13px;
  height: 10px;
  margin-left: 5px;
  transition: transform 0.9s ease;
}

.voltar > img:hover {
  transform: translateX(20px);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-de-fundo-destaque);
  padding: 20px 50px;
  font-family: 'Abril Fatface', 'Poppins';
}

.divRodape {
  display: flex;
  align-items: center;
}

.divRodape > a> img{
  max-width: 45px;
  margin-right: 5px;
}

.divRodape > img{
  max-width: 45px;
  margin-right: 5px;
}


.divRodape > div > span:last-child, .divRodape > div > a:last-child{
  color: var(--cor-de-letra);
  margin-top: -10px;
}

.imgRodape {
  background-color: var(--verde-botoes);
  padding: 5px;
  border-radius: 50%;
  text-decoration: none;
}

.divRodape  >div{
  display: flex;
  flex-direction: column;
}

.divRodape  >div>span, .divRodape div a span{
  font-size: 20px;
}

.divRodape > div > a{
  color: black;
}
@media (min-width: 798px) {
  .divRodape > a> img{
    max-width: 60px;
    margin-right: 10px;
  }

  .divRodape > img{
    max-width: 60px;
    margin-right: 10px;
  }
  
  .divRodape  >div>span{
    font-size: 32px;
  }
  .divRodape  >div>a>span{
    font-size: 32px;
  }
  
  .divRodape div a:last-child{
    margin-top: -15px;
  }
}



