@import "principal.css";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; 
}

.cabecalho {
  height: 100px;
}

.sobrenos>  h1 {
  margin: 0 50px 0 50px;
  font-size: 16px;
  font-weight: normal;
  box-sizing: border-box;
  text-align: justify;
}

.sobrenos>  h2 {
  text-align: center;
  Color:var(--verde-botoes);
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.redessociais > h1{
  margin: 10px 50px 0 50px;
  font-size: 16px;
  font-weight: normal;
  box-sizing: border-box;
  text-align: justify;
}

.redessociais > h2{
  margin: 10px 50px 0 50px;
  text-align: center;
  Color:var(--verde-botoes);
}

.instagram-carousel {
  margin-top: 20px;
  width: 80%;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-left:10px;
}

.instagram-image {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: var(--cor-de-fundo-destaque);
}

.text-container {
  color: black !important;
  text-decoration: none !important;
  width: 100%;
  box-sizing: border-box;
  text-align: justify;
  background-color: var(--cor-de-fundo-destaque);
  padding: 20px;
  min-height: 370px;
}

@media (min-width: 1024px) {
  .instagram-carousel {
    text-align: center;
    margin-top: 20px;
    width: 80%; 
  }

  .post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-right: 10px;
  }
  
  .instagram-image {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: var(--cor-de-fundo-destaque);
  }
  
  .text-container {
    color: black;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    text-align: justify;
    background-color: var(--cor-de-fundo-destaque);
    padding: 20px;
  }

}


@media (min-width: 798px) {
  .instagram-carousel {
    text-align: center;
    margin-top: 20px;
    width: 80%;
  }
  
  .post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:10px;
  }
  
  .instagram-image {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: var(--cor-de-fundo-destaque);
  }
  
  .text-container {
    color: black;
    width: 100%;
    box-sizing: border-box;
    text-align: justify;
    background-color: var(--cor-de-fundo-destaque);
    padding: 20px;
    min-height: 340px;
  }
  
}
