@import "principal.css";
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; 
}

.nome > a {
  color: black;
}

.nome > a:last-child {
  color: var(--cor-de-letra);
}
.cabecalho {
  height: 100px;
}
.info-box {
  display: flex;
  min-height: calc(100vh - (150px + 126px));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.info-box > h1 {
  display: flex;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.info-box > p {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 20px;
}
form {
  margin-top: 20px;
  width: 80%;
}
#material{
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  border-color: var(--verde-botoes);
  outline: none;
  border: 1px solid var(--verde-botoes);
  width: 100%;
}
#mapid {
  margin: 20px;
  height: 30vh;
  width: 90%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.divRodape>div>a{
  color: rgb(0, 0, 0);
}

@media (min-width: 1024px) {
 
  .info-box > h1 {
    display: flex;
    font-size: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .info-box > p {
    font-size: 20px;
  }

  #mapid {
    margin: 50px;
    height: 350px;
    width: 700px;
  }
}
