@import "principal.css";

main {
  z-index: 1;
}
.cabecalho > img{
  max-width: 70px;
  margin-right: 10px;
}

.primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: var(--branco);
}

.subtitulo {
  margin-bottom: 45px;
  justify-content: left;
  font-family: 'Abril Fatface', 'Poppins';
}

.subtitulo > h2 {
  font-size: 50px;
  font-weight: 500;
}

.subtitulo > h2:last-child {
  color: var(--cor-de-letra);
  margin-top: -15px;
}
.descricao {
  max-width: 400px;
  text-align: justify;
}

.imgPlaneta {
  display: none;
}

/*Segunda Section*/
.secundary {
  padding: 50px;
  background-color: var(--cor-de-fundo-destaque);
  width: 100%;
}

.divsecundary {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0;

}

.division {
  background-color: transparent;
  border: 2px solid black;
  max-width: 325px;
  padding: 20px;
  margin-bottom: 20px;
}

.topicos {
  margin-bottom: 30px;
  font-weight: bold;
}
.informacoes {
  margin-bottom: 20px;
  text-align: left;
}

.links {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.links > img {
  width: 13px;
  height: 13px;
  transition: transform 1.2s ease;
}

.links > img:hover {
  transform: translateX(20px);
  cursor: pointer;
}

.sobrenos {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.sobrenosEco > h4 {
  font-weight: normal;
  font-size: 35px;
  

}

.sobrenosEco > h3 {
  font-size: 50px;
  font-weight: 500;
  color: var(--cor-de-letra);
  margin-top: -20px;
  margin-bottom: 20px;
  font-family: 'Abril Fatface','Poppins' ;
}


.valores > h5 {
  font-weight: 500;
  font-size: 26px;
  font-size: 23px;
  text-align: justify;
}

.valores > p {
  margin-top: 20px;
  font-size: 17px;
  text-align: justify;
}



@media (min-width: 1024px) {
  header {
    position: relative;
  }

  .primary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 50px;
    max-width: 1200px;
    margin: -30px auto;
    background-color: var(--cor-de-fundo);
    position: relative;
    border-radius: 10px;
  }
  .subtitulo{
    margin-bottom: 45px;
  }
  
  .imgPlaneta {
    min-width: 400px;
    max-height: 500px;
    border-radius: 5px;
    display: block;
  }

  .secundary {
    background-color: var(--cor-de-fundo-destaque);
    z-index: -1;
    padding: 40px 50px;
  }
  .division{
    padding: auto;
  }
  .divsecundary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

  }

  .sobrenos {
    margin: 50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }

  .sobrenosEco > h4 {
    font-weight: normal;
    font-size: 35px;
  }

  .sobrenosEco > h3 {
    font-size: 50px;
    font-weight: 500;
    color: var(--cor-de-letra);
    margin-top: -20px;
  }

  .valores {
    max-width: 522px;
  }
  

  .valores > h5 {
    font-weight: 500;
    font-size: 26px;
    text-align: justify;
  }





}


@media (min-width: 768px) {
  .primary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--cor-de-fundo);
    border-radius: 10px;
  }
  .subtitulo {
    margin-bottom: 10px;
  }
  .imgPlaneta {
    display: block;
    max-width: 300px;
    max-height: 350px;
    border-radius: 5px;
  }
 
  .division{
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    height: 100%;
  }
  .divsecundary{
    gap:1;
  }

  .divtertiary {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 520px;
  }
  .divquartenary{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 520px;
  }

}
