@import "principal.css";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  position: relative;
}
.cabecalho {
  top: 0;
  height: auto;
  width: 100%;
}

.nome > a {
  color: black;
}

.nome > a:last-child {
  color: var(--cor-de-letra);
  margin-top: -10px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#mapid {
  margin: 50px;
  height: 30vh;
  width: 70%;
}

.info-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.info-box > h1 {
  display: flex;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
form {
  margin-top: 20px;
  border: 2px solid var(--verde-botoes);
  width: 80%;
}

#material {
  width: 100%;
}

@media (min-width: 1024px) {
  .info-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  .info-box > h1 {
    display: flex;
    font-size: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .info-box > p {
    font-size: 20px;
  }

  #mapid {
    margin: 50px;
    height: 350px;
    width: 800px;
  }
}
